CSS* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f0f0f0; /* Fundo cinza claro */
}

header{
    background-color:#007bff;
    background-color:white;
    text-align:center;
    padding: 20px;
}

.galeria{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    padding: 20px;
}

.card{
    background-color:white;
    border:1px solid #ccc;
    border-radius:10px;
    text-align: center;
    padding:10px;

}

.card img{
    width:100%;
    border-radius:5px;
}

footer{
    background-color:#333;
    color:white;
    text-align:center;
    padding:20px;

}

h2{
    text-align:center;
}